<%- include("./static/header.ejs") %>
<%- include("./static/navbar.ejs") %>

<h1 style="text-align: center; color: #ab9c31;"><%= locals.title %></h1>
<div class="blog-content">
    <p><%= locals.content%></p>
</div>

<script src="/redirect.js"></script>
<%- include("./static/footer.ejs") %>
